@font-face {
  font-family: "happy-admin-iconfont"; /* Project id 4778175 */
  src: url('//at.alicdn.com/t/c/font_4778175_dyq5x2tfb5.woff2?t=1774254341155') format('woff2'),
  url('//at.alicdn.com/t/c/font_4778175_dyq5x2tfb5.woff?t=1774254341155') format('woff'),
  url('//at.alicdn.com/t/c/font_4778175_dyq5x2tfb5.ttf?t=1774254341155') format('truetype');
}

.happy-admin-iconfont {
  font-family: "happy-admin-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ha-icon-close-other:before {
  content: "\e600";
}

.ha-icon-close-all:before {
  content: "\e63a";
}

.ha-icon-close:before {
  content: "\e8e7";
}

.ha-icon-close-left:before {
  content: "\e8f6";
}

.ha-icon-close-right:before {
  content: "\e8f7";
}

.ha-icon-refresh:before {
  content: "\e8fc";
}

.ha-icon-drag:before {
  content: "\e650";
}
